<div class="devil-theme-wrapper default-theme">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <router-outlet name="public-sidenav"></router-outlet>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrap">
      <div
        class="devil-toolbar mat-elevation-z5"
        [style.position]="stickyHeader$ ? 'fixed' : 'inherit'"
      >
        <router-outlet name="public-toolbar"></router-outlet>
      </div>
      <div class="content"><router-outlet></router-outlet></div>
      <div class="footer">
        <router-outlet name="public-footer"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
