<!--Footer-->
<footer>
  <!--Footer Links-->
  <div fxLayout="row" class="row" fxLayoutAlign="space-around center">
    <a href="https://github.com/chiduocse" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <span>Github</span>
    </a>
    <a href="https://medium.com/@chiduocse" target="_blank">
      <fa-icon [icon]="['fab', 'medium-m']"></fa-icon>
      <span>Medium</span>
    </a>
    <a href="https://twitter.com/nguyenchiduocse" target="_blank">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      <span>Twitter</span>
    </a>
    <a
      href="https://www.facebook.com/chiduocse"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <span>Facebook</span>
    </a>
    <a href="https://www.instagram.com/chiduocse" target="_blank">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      <span>Instagram</span>
    </a>
    <a href="https://www.slides.com" target="_blank">
      <fa-icon icon="play-circle"></fa-icon>
      <span>Slides</span>
    </a>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div fxLayout="row">
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2019 Copyright:
        <a href="https://www.google.com">Chiduocse@gmail.com </a>
      </div>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
